<div class="large-6 small-12 columns">
  <img src="{{model.picture}}">
</div> 
<div class="large-6 small-12 columns">
  <h2>About the author</h2>
  <p>Name : {{model.user.name}}</p>
  <p>Company : {{model.user.company}}</p>
  <p>Email : {{model.user.email}}</p>
  <p>Address: : {{model.user.address}}</p>
</div>