<div class="large-6 small-12 columns">
  <img src="{{model.picture}}">
</div> 
<div class="large-6 small-12 columns">
  <h2>About {{set-gender user.gender}}</h2>
  <p>Name : {{user.name}}</p>
  <p>Company : {{user.company}}</p>
  <p>Email : {{user.email}}</p>
  <p>Address: : {{user.address}}</p>
</div>

<h2>{{set-gender model.user.gender}} dribbles</h2>
<div class="row">
  {{#each dribbles as |dribble|}}
      {{#link-to 'dribble' dribble}}
        <div class="large-3 small-6 columns">
            <img src="{{dribble.picture}}">
        </div>
      {{/link-to}}
  {{/each}}
</div>